
@media screen and (max-width:1000px) {
    .description1{
        width: 100%;
    }
    .descriptionCourte{
        margin: 0;
    }
    .produitEquivalent{
        flex-wrap: wrap-reverse;
    }
}
